.colorbar {
    cursor: pointer;
    user-select: none;
}

.colorbar .bar {
    height: 18px;
    width: 200px;
    background-color: white;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 6px;
    text-align: center;
    text-shadow: 0px 2px 5px #ffffff8c;
    color: #3534349a;
}

@media screen and (max-width: 500px) {
    .colorbar .bar {
        height: 12px;
        width: 120px;
        font-size: 11px;
    }
}