.toggle {
    padding: 4px;
    border: 1px solid white;
    border-radius: 22px;
    background-color: var(--e-global-color-primary);
    width: calc(100% - 50px);
    user-select: none;
    box-sizing: border-box;
    margin-bottom: 12px;
    display: inline-block;
}

.toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    border-radius: 20px;
    background: var(--e-global-color-primary);
    cursor: pointer;
    margin: auto;
}

.toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius: 16px;
    background-color: white;
}

.toggleCheckbox:checked+.toggleContainer::before {
    left: 50%;
}

.toggleContainer div {
    padding: 4px 16px;
    text-align: center;
    z-index: 1;
}

.toggleCheckbox {
    display: none;
}

.toggleCheckbox:checked+.toggleContainer div:first-child {
    color: white;
    transition: color 0.3s;
}

.toggleCheckbox:checked+.toggleContainer div:last-child {
    color: var(--e-global-color-primary);
    transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:first-child {
    color: var(--e-global-color-primary);
    transition: color 0.3s;

}

.toggleCheckbox+.toggleContainer div:first-child img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}


.toggleCheckbox+.toggleContainer div:last-child {
    color: white;
    transition: color 0.3s;
}