/* Lemanscope Master CSS */


/* Fonts */

@font-face {
  font-family: "exo";
  src: url("fonts/exo/Exo-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
}

:root {
  --sidebar-width: 400px;
  --cell-size: 40px;
  --e-global-color-primary: #04133E;
  --e-global-color-secondary: #0457E7;
  --e-global-color-text: #04133E;
  --e-global-color-accent: #00EB3C;
  --e-global-color-accent-opacity: #00eb3b94;
  --e-global-color-subtle-accent: #026e3d;
  --e-global-color-732b564: #F5F1ED;
  --e-global-color-05f99e9: #FFFFFF;
}

@media screen and (max-width: 800px) {
  :root {
    --sidebar-width: 330px;
    --cell-size: 30px;
  }
}

.leaflet-tooltip {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-05f99e9);
  border-radius: 12px;
  padding: 5px 8px;
  font-size: 16px;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-05f99e9);
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.main .modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--e-global-color-primary);
  width: 600px;
  height: 350px;
  z-index: 9;
  color: var(--e-global-color-05f99e9);
  border: 2px solid var(--e-global-color-05f99e9);
  font-family: Inter, sans-serif;
  max-width: 100%;
  box-sizing: border-box;
}

.main .modal.hide {
  display: none;
}

.main .modal .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  line-height: 28px;
  padding: 12px;
  cursor: pointer;
}

.main .modal .content {
  position: relative;
  padding: 12px;
}

.main .modal .content .top {
  position: relative;
  text-align: center;
  font-size: 24px;
  margin-bottom: 67px;
}


.main .modal .content .left {
  position: relative;
  display: inline-block;
  width: calc(50% - 95px);
  text-align: right;
  font-size: 18px;
}


.main .modal .content .center {
  position: relative;
  display: inline-block;
  width: 190px;
  text-align: center;
}

.main .modal .content .center .percentage {
  margin: auto;
  border-radius: 50%;
  z-index: 0;
  border: 5px solid var(--e-global-color-subtle-accent);
  background: conic-gradient(transparent 180deg, var(--e-global-color-subtle-accent) 180deg 320deg, transparent 320deg 360deg);
  width: 150px;
  height: 150px;
  box-sizing: border-box;
}

.main .modal .content .center .percentage .date {
  z-index: 1;
  position: relative;
  font-size: 60px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  text-align: center;
  line-height: 116px;
  background-color: var(--e-global-color-primary);
  margin: 12px;
  border-radius: 50%;
}

.main .modal .content .center .percentage .observations {
  position: absolute;
  font-size: 27px;
  top: 0px;
  right: 16px;
  background-color: var(--e-global-color-primary);
  border: 3px solid var(--e-global-color-subtle-accent);
  border-radius: 22px;
  line-height: 40px;
  width: 40px;
  z-index: 9;
}

.main .modal .content .right {
  position: relative;
  display: inline-block;
  width: calc(50% - 95px);
  vertical-align: top;
  font-size: 18px;
}


.main .sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: var(--sidebar-width);
  background-color: var(--e-global-color-primary);
  display: flex;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
}

.main .sidebar .custom-css-datepicker {
  width: 100%;
  text-align: center;
}

.main .sidebar .custom-css-datepicker .instructions {
  text-align: left;
  color: white;
  font-family: Inter, sans-serif;
  padding-left: 9px;
  cursor: pointer;
}

.main .sidebar .custom-css-datepicker .instructions:hover {
  text-decoration: underline;
}

.main .sidebar .custom-css-datepicker .react-datepicker {
  background-color: var(--e-global-color-primary);
  border: none;
  width: 100%;
  font-size: 18px;
  height: 400px;
}

.main .sidebar .custom-css-datepicker .react-datepicker .react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-size: 18px;
}

.main .sidebar .custom-css-datepicker .react-datepicker .react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: var(--e-global-color-732b564);
  width: var(--cell-size);
  height: var(--cell-size);
  line-height: var(--cell-size);
  border-radius: var(--cell-size);
  position: relative;
  vertical-align: middle;
  margin: 6px;
}

.main .sidebar .custom-css-datepicker .react-datepicker .date {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2px;
}

.main .sidebar .custom-css-datepicker .react-datepicker .percentage {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 0;
  border: 2px solid var(--e-global-color-subtle-accent);
}

.main .sidebar .custom-css-datepicker .react-datepicker .percentage::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: var(--e-global-color-primary);
  border-radius: 50%;
  z-index: -1
}

.main .sidebar .custom-css-datepicker .react-datepicker .observations {
  position: absolute;
  font-size: 10px;
  top: -4px;
  right: -5px;
  background-color: var(--e-global-color-primary);
  border: 2px solid var(--e-global-color-subtle-accent);
  border-radius: 22px;
  line-height: 15px;
  width: 15px;
}

.main .sidebar .custom-css-datepicker .react-datepicker .react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  color: #082678;
  background-color: var(--e-global-color-primary) !important;
  border: none;
}

.main .sidebar .custom-css-datepicker .react-datepicker .react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: transparent;
}

.main .sidebar .custom-css-datepicker .react-datepicker .react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: transparent;
  font-weight: bold;
}

.main .sidebar .custom-css-datepicker .react-datepicker .react-datepicker__day--selected .percentage {
  border-color: var(--e-global-color-accent);
}

.main .sidebar .custom-css-datepicker .react-datepicker .react-datepicker__day--selected .observations {
  border-color: var(--e-global-color-accent);
}

.main .sidebar .custom-css-datepicker .react-datepicker .react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: transparent;
}

.main .sidebar .custom-css-datepicker .react-datepicker .react-datepicker__day:hover .percentage {
  border-color: var(--e-global-color-accent);
}

.main .sidebar .custom-css-datepicker .react-datepicker .react-datepicker__day:hover .observations {
  border-color: var(--e-global-color-accent);
}

.main .sidebar .custom-css-datepicker .react-datepicker .react-datepicker__header {
  background-color: var(--e-global-color-primary);
  border: none;
}

.main .sidebar .custom-css-datepicker .react-datepicker .react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: var(--e-global-color-732b564);
}


.main .map {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: calc(100% - var(--sidebar-width));
}

.main .map .colorbar {
  position: absolute;
  z-index: 999;
  right: 22px;
  bottom: 22px;
  width: calc(100% - 160px);
  max-width: 400px;
}

.main .map .value {
  display: inline-block;
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-05f99e9);
  padding: 5px 8px;
  vertical-align: top;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.main .map .value.left {
  border-right: 2px solid var(--e-global-color-accent);
  border-radius: 8px 0 0 8px;
}

.main .map .value.right {
  border-left: 2px solid var(--e-global-color-accent);
  border-radius: 0 8px 8px 0;
}

.main .map .bar {
  width: calc(100% - 90px);
  height: 28px;
  display: inline-block;
  line-height: 28px;
  text-align: center;
  color: #ffffff96;
}

.main .map .marker-cluster div {
  width: 17px;
  height: 17px;
  border: 3px solid white;
}

@media screen and (max-width: 800px) {
  .main .sidebar .custom-css-datepicker .react-datepicker .observations {
    position: absolute;
    font-size: 10px;
    top: -9px;
    right: -8px;
    background-color: var(--e-global-color-primary);
    border: 2px solid var(--e-global-color-subtle-accent);
    border-radius: 22px;
    line-height: 15px;
    width: 15px;
    z-index: 2;
  }
}

@media screen and (max-width: 660px) {
  .main .map {
    height: calc(100% - 340px);
    width: 100%;
  }

  .main .sidebar {
    position: fixed;
    height: 340px;
    width: 100%;
  }

  .main .sidebar .custom-css-datepicker .react-datepicker {
    height: 320px;
    margin: auto;
    width: unset;
  }

  .main .modal {
    height: 200px;
  }

  .main .modal .content .center {
    width: 120px;
  }

  .main .modal .content .center .percentage {
    border: 3px solid var(--e-global-color-subtle-accent);
    width: 75px;
    height: 75px;
  }

  .main .modal .content .center .percentage .date {
    font-size: 29px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    line-height: 57px;
    margin: 6px;
  }

  .main .modal .content .center .percentage .observations {
    font-size: 16px;
    top: -6px;
    right: 16px;
    border: 2px solid var(--e-global-color-subtle-accent);
    line-height: 25px;
    width: 25px;
  }

  .main .modal .content .top {
    margin-bottom: 39px;
  }

  .main .modal .content .left {
    font-size: 14px;
    width: calc(50% - 60px);
  }

  .main .modal .content .right {
    font-size: 14px;
    width: calc(50% - 60px);
  }
}